.cursor {
    border: 2px solid black;
    position: fixed;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    display: flex;
}

.inner_cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    margin: auto auto;
    opacity: 1;
    transition: 0.5s;
}

.hover_link {
    background-color: black;
    opacity: 0.5;
}