@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Regular.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-SemiBold.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Medium.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Light.woff2") format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-ExtraLight.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-ExtraBold.woff2") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Bold.woff2") format('woff2');
    font-weight: 600;
}

span {
    margin: 0;
}

body {
    font-family: "manrope";
    background-color: #eae7dc;
    font-size: 13px;
    margin: 0 0 0 0;
}

body:after {
    animation: grain 2s steps(6) infinite;
    background-image: url("../static/grain.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width:300%;
    pointer-events: none;
}

@keyframes grain {
    0%, 100% {transform: translate(0,0);}
    10% {transform: translate(-5%,-10%);}
    30% {transform: translate(3%,-15%);}
    50% {transform: translate(12%,9%);}
    70% {transform: translate(9%,4%);}
    90% {transform: translate(-1%,7%);}
}

@media only screen and (max-width: 1400px) {
    h1 {
        font-size: 100px;
        text-align: center;
    }

    h2 {
        font-size: 13px;
    }

    .arrow {
        font-size: 100px;
        color: #f6bd60;
    }

    .outer_wrapper {
        margin: 50px;
    }

    .jobs {
        margin-left: 100px;
    }

    .jobs_wrapper {
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 790px) {
    h1 {
        font-size: 70px;
        text-align: left;
    }

    h2 {
        text-align: right;
    }

    .jobs_tag {
        text-align: left;
    }

    .arrow {
        font-size: 50px;
        color: #f6bd60;
    }

    .jobs {
        margin-left: 0px;
        margin-right: 0;
    }

    .jobs_wrapper {
        flex-direction: column;
        margin-left: 0;
    }

}

@media only screen and (max-width: 535px) {
    h1 {
        font-size: 42px;
    }

    .arrow {
        font-size: 40px;
    }
}