@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Regular.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-SemiBold.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Medium.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Light.woff2") format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-ExtraLight.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-ExtraBold.woff2") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "manrope";
    src: url("../fonts/Manrope-Bold.woff2") format('woff2');
    font-weight: 600;
}

body {
    font-family: manrope;
    background-color: black;
    font-size: 16px;
    margin: 0 0 0 0;
}

body::after {
    animation: grain 8s steps(10) infinite;
    background-image: url("../static/grain.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.2    ;
    position: fixed;
    top: -100%;
    width:300%;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }

p {
    color: #f2f4f3;
    font-size: 18px;
    letter-spacing: 1px;
    max-width: 450px;
    line-height: 27px;
    font-weight: 200;
}
.about_me {
    max-width: 1280px;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    height: 900px;
    margin: 0 auto;
}

.me_intro {
    width: 50%;
    display: flex;
}

h1 {
    font-family: manrope;
    font-weight: 700;
    font-size: 80px;
    margin: 0 auto;
    text-align: left;
    color: #a9927d;
}

.introtext {
    margin: auto 0;
}

@media only screen and (max-width: 1024px) {
    .about_me {
        flex-direction: column;
        margin: 100px auto;
    }
    .me_intro {
        margin: 0 auto;
        width: 70%;
    }

    .introtext {
        margin: 0 auto;
    }

    h1 {
        font-size: 50px;
    }

    p {
        max-width: none;
    }

    .person {
        height: 700px;
    }
    
}

@media only screen and (max-width: 500px) {
    .about_me {
        flex-direction: column;
        margin: 50px auto;
    }
    .me_intro {
        margin: 20px auto;
        width: 85%;
    }

    .introtext {
        margin: 0 auto;
    }

    p {
        max-width: none;
    }

    .person {
        height: 400px;
    }
}