    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Light.woff2") format('woff2');
        font-weight: 200;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Regular.woff2") format('woff2');
        font-weight: 300;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Medium.woff2") format('woff2');
        font-weight: 400;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format('woff2');
        font-weight: 500;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Bold.woff2") format('woff2');
        font-weight: 600;
    }

    html, html {
        overflow-x: hidden;
        cursor: none;
    }

    a {
        cursor: none;
    }

    .load_page {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        display: flex;
    }

    .load_img {
        margin: auto auto;
        width: 100px;
        height: 100px;
    }

    body {
        font-family: 'space';
        background-color: #ffffff;
        margin: 0 0 0 0;
        -webkit-font-smoothing: antialiased;
        overflow: hidden;
    }

    body:after {
        animation: grain 2s steps(6) infinite;
        background-image: url("../static/grain.png");
        content: "";
        height: 300%;
        left: -50%;
        opacity: 0.25;
        position: fixed;
        top: -100%;
        width:300%;
        pointer-events: none;
    }

    h1 {    
        margin: 0;
        font-size: 110px;
        line-height: 1em;
        letter-spacing: -1px;
        color: #ff6f61;
    }

    h3 {
        font-weight: 300;
    }

    .main {
        position: relative;
    }

    .HERO_wrapper {
        display: flex;
        position: relative;
        margin-bottom: 150px;
    }

    .background {
        background-color: #ff6f61;
        width: 60%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    .content {
        max-width: 1400px;
        text-align: left;
        width: 100%;
        margin: 50px auto;
        padding: 0 50px 0 50px;
    }

    .row1 {
        width: 100%;
        position: relative;
    }

    .row1 h2{
    font-size: 30px;
    font-weight: 500;
    }

    .year {
        position: absolute;
        color: white;
        top: 45%;
        left: 430px;
    }

    .anim_border_h {
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: black;
        top: 0px;
        right: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .anim_border_v {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: black;
        top: 0px;
        right: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .anim_border_h2 {
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: black;
        bottom: 0px;
        left: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .anim_border_v2 {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: black;
        bottom: 0px;
        left: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .row2 {
        width: 100%;
        margin: 100px 0 0 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .row2 h1 {
        color: white;
        font-size: 145px;
    }

    .iphone {
        width: 350px;
        height: "";
        transform: translateY(-10%);
        align-self: center;
        /* right: 0;
        top: 50%;
        transform: translateY(-40%); */
    }

    .row3 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .react-text {
        font-size: 50px;
        line-height: 52px;
        margin: 0 305px 0 0;
        color: #000000;
        float: right;
        font-weight: 500;
    }

    .corner {
        width: 50px;
        height: 50px;
        transform: scaleY(-1);
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .endbox {
        width: 100%;
        position: relative;
    }

    .year2020_section {
        position: relative;
        height: 300px;
        display: flex;
    }

    .year2020 {
        color: white;
        font-size: 300px;
        text-align: right;
        position: absolute;
        right: -450px;
    }

    .front {
        width: 60%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 5;
    }
    .back {
        width: 60%;
        height: 100%;
        position: absolute;
        z-index: -10;
    }

    .back .year2020 {
        color: #ff6f61;
    }

    .year2020_hover {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 50px;
        width: 100%;
        height: 100%;
        z-index: 6;
        position: relative;
    }

    .year2020_hover_h2 {
        position: absolute;
        top: 50%;
        font-size: 90px;
        margin: 0;
        transform: translateY(-50%);
        color: white;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: #ff6e6100;
    }

    .lasso_img {
        display: none;
        opacity: 0;
        position: fixed;
        z-index: 6;
        width: 400px;
        height: "";
        left: 0;
        top: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
    }

    .showcase {
        max-width: 1400px;
        margin: 100px auto;
        position: relative;
        padding: 0 50px;
    }

    .UI_images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: 0px;
        scroll-snap-type: x proximity;
        white-space: nowrap;
    }

    .UI_images::-webkit-scrollbar {
        display: none;
    }

    .UI_image_wrapper {
        width: 450px;
        display: inline-block;
        flex: 0 0 auto;
    }
    
    .UI_image {
        width: 100%;
        height: "";
        -webkit-overflow-scrolling: touch;
    }

    .UI_image_text {
        margin: 0 auto;
        text-align: center;
        font-weight: 500;
    }

    .right_arrow {
        position: absolute;
        right: 50px;
        top: -50px;
        font-weight: 400;
        color: black;
        font-size: 50px;
    }

    .description_wrapper {
        margin: 100px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text_description {
        display: flex;
        flex-direction: row;
    }

    .about_project {
        writing-mode: vertical-rl;
        transform: rotateZ(180deg);
        color: #000000;
        font-size: 150px;
        text-align: center;
    }

    .about_project2 {
        writing-mode: vertical-rl;
        transform: rotateZ(180deg);
        color: #ff6f61;
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .description {
        max-width: 50%;
        font-size: 22px;
        line-height: 26px;
        position:relative;
    }
    
    .description_corner {
        height: 50px;
        width: 50px;
        transform: scaleX(-1);
    }

    .description_corner2 {
        height: 50px;
        width: 50px;
        transform: scaleY(-1);
        float: right;
    }

    .outline {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: #ff6e6100;
    }

    @keyframes grain {
        0%, 100% {transform: translate(0,0);}
        10% {transform: translate(-5%,-10%);}
        30% {transform: translate(3%,-15%);}
        50% {transform: translate(12%,9%);}
        70% {transform: translate(9%,4%);}
        90% {transform: translate(-1%,7%);}
    }

    @media only screen and (max-width: 1650px) {
        .row2 h1 {
            font-size: 120px;
        }
    }

    @media only screen and (max-width: 1400px) {
        .row2 h1 {
            font-size: 100px;
        }
        .row1 h2{
            font-size: 25px;
        }
        .iphone {
            width: 250px;
        }
        .year2020 {
            font-size: 250px;
            right: -400px;
        }
        .year2020_section {
            height: 250px;
        }
        .HERO_wrapper {
            margin-bottom: 50px;
        }
        .year2020_hover_h2 {
            font-size: 70px;
        }
        .lasso_img {
            width: 300PX;
        }
        .about_project {
            font-size: 140px;
        }
    }

    @media only screen and (max-width: 1100px) {
        .row2 h1 {
            font-size: 90px;
        }
        .year2020 {
            font-size: 250px;
            right: -400px;
        }
        .year2020_section {
            height: 250px;
        }
        .year2020_hover_h2 {
            font-size: 50px;
        }
        .UI_image_wrapper {
            width: 400px;
        }
        .showcase {
            padding: 0;
        }
    
        .about_project {
            writing-mode: initial;
            transform: initial;
            color: #000000;
            font-size: 50px;
            text-align: initial;
        }
        .about_project2 {
            writing-mode: initial;
            transform: initial;
            color: #ff6f61;
            font-size: 20px;
            margin-top: 20px;
            text-align: initial;
        }
        .description {
            max-width: 100%;
            font-size: 20px;
            line-height: 24px;
        }
        .description_wrapper {
            flex-direction: column;
            max-width: 80%;
            margin: 100px auto;
        }
        .text_description {
            display: flex;
            flex-direction: column;
            margin: 30px 0;
        }
    }

    @media only screen and (max-width: 1024px) {
        .load_img {
            margin: auto auto;
            width: 50px;
            height: 50px;
        }
        .background {
            width: 100%;
            height: 480px;
        }
        .content {
            margin: 0 auto;
            padding: 0;
            max-width: 80%;
        }
        .row2 h1 {
            font-size: 45px;
            margin-bottom: 20px;
        }
        .row2 {
            flex-direction: column;
            margin: 50px 0 0 0;
        }
        .iphone {
            width: 60%;
            transform: initial;
            margin: 0 auto;
        }
        .row1 h2{
            font-size: 20px;
        }
        .react-text {
            margin-right: 0px;
            margin-top: 20px;
            margin-bottom: 55px;
            font-size: 40px;
            line-height: 42px;
        }
        .year {
            position: initial;
            color: white;
            top: initial;
            left: initial;
            margin: 0;
        }

        .front {
            background-color: #ff6f61;
        }

        .year2020_section {
            height: 300px;
        }

        .year2020 {
            font-size: 250px;
            right: -320px;
            margin: 50px 0;
        }
        .year2020_hover_h2 {
            display: none;
        }
    }

    @media only screen and (max-width: 600px) {
        .anim_border_h {
            display: none;
        }
        .anim_border_v {
            display: none;
        }
        .anim_border_h2 {
            display: none;
        }
        .anim_border_v2 {
            display: none   ;
        }
        .iphone {
            width: 100%;
        }
        .update {
            font-size: 40px;
        }
        .year2020 {
            right: -200px;
        }
        .year2020_section {
            height: 280px;
        }
        .lasso_img {
            width: 200px;
        }
        .UI_image_wrapper {
            width: 250px;
        }
        .showcase {
            margin: 50px auto;
        }
        .description_wrapper {
            margin: 50px 0;
        }
    }