    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Light.woff2") format('woff2');
        font-weight: 200;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Regular.woff2") format('woff2');
        font-weight: 300;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Medium.woff2") format('woff2');
        font-weight: 400;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format('woff2');
        font-weight: 500;
    }

    @font-face {
        font-family: "space";
        src: url("../fonts/SpaceGrotesk-Bold.woff2") format('woff2');
        font-weight: 600;
    }

    html, html {
        overflow-x: hidden;
        cursor: none;
    }

    a {
        cursor: none;
    }

    .load_page {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
        display: flex;
    }

    .load_img {
        margin: auto auto;
        width: 200px;
        height: 200px;
    }

    body {
        font-family: 'space';
        background-color: #ffffff;
        margin: 0 0 0 0;
        -webkit-font-smoothing: antialiased;
        overflow: hidden;
    }

    body:after {
        animation: grain 2s steps(6) infinite;
        background-image: url("../static/grain.png");
        content: "";
        height: 300%;
        left: -50%;
        opacity: 0.25;
        position: fixed;
        top: -100%;
        width:300%;
        pointer-events: none;
    }

    h1 {    
        margin: 0;
        font-size: 110px;
        line-height: 1em;
        letter-spacing: -1px;
        color: #ff6f61;
    }

    h3 {
        font-weight: 300;
    }

    .HERO_wrapper {
        display: flex;
        position: relative;
        margin-bottom: 1000px;
    }

    .background {
        background-color: #ff6f61;
        width: 60%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    .content {
        max-width: 1400px;
        text-align: left;
        width: 100%;
        margin: 50px auto;
        padding: 0 50px 0 50px;
    }

    .row1 {
        width: 100%;
        position: relative;
    }

    .row1 h2{
    font-size: 30px;
    }

    .year {
        position: absolute;
        color: white;
        top: 45%;
        left: 430px;
    }

    .anim_border_h {
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: black;
        top: 0px;
        right: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .anim_border_v {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: black;
        top: 0px;
        right: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .anim_border_h2 {
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: black;
        bottom: 0px;
        left: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .anim_border_v2 {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: black;
        bottom: 0px;
        left: 0px;
        position: absolute;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .row2 {
        width: 100%;
        margin: 100px 0 0 0;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .row2 h1 {
        color: white;
        font-size: 145px;
    }

    .iphone {
        width: 350px;
        height: "";
        transform: translateY(-10%);
        align-self: center;
        /* right: 0;
        top: 50%;
        transform: translateY(-40%); */
    }

    .row3 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .react-text {
        font-size: 50px;
        line-height: 52px;
        margin: 0 305px 0 0;
        color: #000000;
        float: right;
    }

    .corner {
        width: 50px;
        height: 50px;
        transform: scaleY(-1);
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .endbox {
        width: 100%;
        position: relative;
    }

    @keyframes grain {
        0%, 100% {transform: translate(0,0);}
        10% {transform: translate(-5%,-10%);}
        30% {transform: translate(3%,-15%);}
        50% {transform: translate(12%,9%);}
        70% {transform: translate(9%,4%);}
        90% {transform: translate(-1%,7%);}
    }

    @media only screen and (max-width: 1650px) {
        .row2 h1 {
            font-size: 120px;
        }
    }

    @media only screen and (max-width: 1400px) {
        .row2 h1 {
            font-size: 100px;
        }
        .row1 h2{
            font-size: 25px;
        }
        .iphone {
            width: 250px;
        }
    }

    @media only screen and (max-width: 1100px) {
        .row2 h1 {
            font-size: 90px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .load_img {
            margin: auto auto;
            width: 50px;
            height: 50px;
        }
        .background {
            width: 100%;
            height: 480px;
        }
        .content {
            margin: 0 auto;
            padding: 0;
            max-width: 80%;
        }
        .row2 h1 {
            font-size: 45px;
            margin-bottom: 20px;
        }
        .row2 {
            flex-direction: column;
            margin: 50px 0 0 0;
        }
        .iphone {
            width: 60%;
            transform: initial;
            margin: 0 auto;
        }
        .row1 h2{
            font-size: 20px;
        }
        .react-text {
            margin-right: 0px;
            margin-top: 20px;
            margin-bottom: 55px;
            font-size: 40px;
            line-height: 42px;
        }
        .year {
            position: initial;
            color: white;
            top: initial;
            left: initial;
            margin: 0;
        }
    }

    @media only screen and (max-width: 600px) {
        .anim_border_h {
            display: none;
        }
        .anim_border_v {
            display: none;
        }
        .anim_border_h2 {
            display: none;
        }
        .anim_border_v2 {
            display: none   ;
        }
        .iphone {
            width: 100%;
        }
    }