@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Light.woff2") format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Medium.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Bold.woff2") format('woff2');
    font-weight: 600;
}

.load_page {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
}

.load_img {
    margin: auto auto;
    width: 200px;
    height: 200px;
}

body {
    font-family: 'space';
    background-color: #ffffff;
    margin: 0 0 0 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body:after {
    animation: grain 2s steps(6) infinite;
    background-image: url("../static/grain.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.25;
    position: fixed;
    top: -100%;
    width:300%;
    pointer-events: none;
}

h1 {    
    margin: 0;
    font-size: 110px;
    line-height: 1em;
    letter-spacing: -1px;
    color: #ff6f61;
}

h3 {
    font-weight: 300;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
}

@keyframes grain {
    0%, 100% {transform: translate(0,0);}
    10% {transform: translate(-5%,-10%);}
    30% {transform: translate(3%,-15%);}
    50% {transform: translate(12%,9%);}
    70% {transform: translate(9%,4%);}
    90% {transform: translate(-1%,7%);}
}