@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Light.woff2") format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Medium.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "space";
    src: url("../fonts/SpaceGrotesk-Bold.woff2") format('woff2');
    font-weight: 600;
}

html {
    overflow-x: hidden;
}

.load_page {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
}

.load_img {
    margin: auto auto;
    width: 200px;
    height: 200px;
}

body {
    font-family: 'space';
    background-color: #ffffff;
    margin: 0 0 0 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

body:after {
    animation: grain 2s steps(6) infinite;
    background-image: url("../static/grain.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.25;
    position: fixed;
    top: -100%;
    width:300%;
    pointer-events: none;
}

h1 {    
    margin: 0;
    font-size: 110px;
    line-height: 1em;
    letter-spacing: -1px;
    color: #ff6f61;
}

h3 {
    font-weight: 300;
}

.main {
    margin: 50px 50px;
}

.projects_wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.PJ1 {
    display: flex;
    margin-bottom: 100px;
    perspective: 1000px;
}

.PJ1_image_wrapper {
    display: flex;
    width: 50%;
    height: 50%;
    position: relative;
    transition: 0.5s;
}

.PJ1_title_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
}

.inner_title {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -540px;
}

.inner_title2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -540px;
}

.PJ1_behind_wrapper {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
}

.PJ1_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.PJ2 {
    display: flex;
    justify-content: end;
    perspective: 1000px;
}

.PJ2_image_wrapper {
    margin-left: auto;
    margin-right: 0;
    float: right;
    display: flex;
    width: 50%;
    height: 50%;
    position: relative;
    transition: 0.5s;
}

.PJ2_title_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
}

.PJ2_inner_title {
    text-align: end;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -380px;
}

.PJ2_inner_title2 {
    text-align: end;
    color: #5297AC;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -380px;
}

.PJ2_behind_wrapper {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: auto 0;
}

.PJ2_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@keyframes grain {
    0%, 100% {transform: translate(0,0);}
    10% {transform: translate(-5%,-10%);}
    30% {transform: translate(3%,-15%);}
    50% {transform: translate(12%,9%);}
    70% {transform: translate(9%,4%);}
    90% {transform: translate(-1%,7%);}
}

@media only screen and (max-width: 1400px) {
    h1 {
        font-size: 100px;
    }
    .inner_title2 {
        right: -485px;
    }
    .inner_title {
        right: -485px;
    }
    .PJ2_inner_title2 {
        left: -350px;
    }
    .PJ2_inner_title {
        left: -350px;
    }
}

@media only screen and (max-width: 1024px) {
    .load_img {
        margin: auto auto;
        width: 50px;
        height: 50px;
    }
    h1 {
        font-size: 90px;
    }
    .inner_title2 {
        right: -450px;
    }
    .inner_title {
        right: -450px;
    }
    .PJ2_inner_title2 {
        left: -310px;
    }
    .PJ2_inner_title {
        left: -310px;
    }
}

@media only screen and (max-width: 900px) {
    .main {
        margin: 50px auto;
    }
    h1 {
        font-size: 45px;
    }
    .inner_title2 {
        position: absolute;
        top: 92%;
        transform: none;
        right: initial;
    }
    .inner_title {
        color: white;
        position: absolute;
        top: 92%;
        transform: none;
        right: initial;
    }
    .PJ1_image_wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .PJ1 {
        margin-bottom: 200px;
    }
    .PJ2_inner_title2 {
        text-align: left;
        top: 92%;
        transform: none;
        left: initial;
    }
    .PJ2_inner_title {
        text-align: left;
        top: 92%;
        transform: none;
        left: initial;
    }
    .PJ2_image_wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .PJ2 {
        margin-bottom: 200px;
    }
}